spring:
  datasource:
    url: jdbc:h2:mem:campusmaster
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    root: INFO
    com.elzocodeur.campusmaster: DEBUG
    org.springframework.web: DEBUG

springdoc:
  swagger-ui:
    enabled: true
